#Wed Sep 04 13:21:09 IST 2024
mail.smtp.other.host=
mail.smtp.username=ENC1(Y05yDdC8alh9Fq7cfSovwyrP8PLKnrrNE4pE3DxO6iPRx0jui1C3Rbv0lEkZKXZ/ksPYR8Ozl30Ye79SH7YM6w\=\=)
mail.smtp.port=587
mail.smtp.toEmail=ENC1(MpBlZEkAuGEx9cACYpPQF7WhFQRwYXQqB6F8i707uPOe1LjWEVqo+OFb5m7CcmmPtFyBP85EPqW76fy9qg/ktA\=\=)
mail.smtp.other.port=
mail.smtp.password=ENC1(6pgJxhMzYXFaponYpw9DKuhdMIDzJd6ZbxbiSKfvGBKvAI64Y0t8NBG94QAOTckdxViGUPRq1gUoeti44ONvWg\=\=)
mail.smtp.starttls.enable=false
mail.smtp.host=smtp.gmail.com
mail.smtp.ssl.enable=false
mail.smtp.starttls.required=false
mail.smtp.timeout=60000
Encryptor.check=Provar
